// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.day-goals {
	text-align: center;
	margin-top: 3.5rem;
	h2 {
		color: #41a0c3;
	}
	h4 {
		font-weight: 200;
		line-height: 2.5rem;
	}
	.show_list {

		width: 200px;
	}
}

.day-elements nav {
	margin-top: 50px;
	margin-left: 20vw;
	ul {
		padding: 0;
		margin: 0;
		height: 200px;
		margin-left: 15px;
		li.menu {
			list-style: none;
			float: left;
			margin-right: 60px;
			background-color: lighten(#41a0c3, 35%);
			width: 250px;
			border-radius: 10px;
			border: lighten(#41a0c3, 33%) 3px solid;
			h3 {
				margin-top: 8px;
				margin-left: 15px;
				font-weight: 400;
				font-size: 30px;
			}
			ul.list-items {
				li {
					text-align: left;
					list-style: none;
					font-size: 20px;
					font-weight: 300;
					span a{
						line-height: 6rem;
						font-size: 80%;
						color: #41a0c3;
						&:hover {
							text-decoration: none;
					}
				}
			}
		}
	}
}
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

#posts {
	.post {
		background: #F8F9FA;
		width: 30%;
		float: left;
		margin: 5rem 1.5%;
		border: 1px solid #E4E4E4;
		border-radius: 0.6rem 0.6rem 0.4rem 0.4rem;
		.post_image {
			max-height: 200px;
			overflow: hidden;
			border-top-left-radius: 0.6rem;
			border-top-right-radius: 0.6rem;
		}
		.image_tag_listing {
			max-width: 100%;
		}
		.post_content {
			h2 {
				margin: 0;
				font-weight: 200;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 2.25rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #41a0c3;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #8c8c8c;
				.username, .buttons {
					margin: 0;
					font-size: 1.5rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						margin-left: .5rem;
					}
				}
			}
		}
	}
}

#day_show {
	.challenge {
		@include bold_font;
		font-size: 2.5rem;
		margin-bottom: 1.25rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #E9E9E9;
	}
	p {
		font-size: 1.375rem;
		line-height: 1.75;
	}
	.buttons {
		margin-top: 3rem;
		a.button {
			padding: .5rem 2rem;
			border-radius: 2rem;
			text-decoration: none;
			color: $yellow;
			border: 5px solid #E9E9E9;
			@include bold_font;
			background: transparent;
		}
	}
}

#update_delete {
	font-size: 4.25rem;
	// line-height: 2.5;
  margin-top: 150px;
	span {
		font-size: 80%;
		color: #9B9B9B;
	}
  #button-updel {
  	line-height: 3.5;
    border: 1.75px solid #9B9B9B;
    padding: .7rem 1.25rem;
    border-radius: 1rem;
    text-align: center;
    background: white;
    color: #9B9B9B;
    a {
    	color: #9B9B9B;
    	text-decoration: none;
    	&:hover {
    		color: #9B9B9B;
    	}
    }
  }
}
