
.container {
  margin-top: 10px;
  width: 800px;
  float: left;
}

.panel-heading {
  padding-left: 35px;
  padding-right: 35px;
}

.panel.panel-default {
  color: #505050;
}

.panel-body {
  padding: 35px;
  h1 {
    margin: 0 0 10px 0;
  }
  .description {
    color: #868686;
    line-height: 1.75;
    margin: 0;
  }
}

.form-horizontal {
  max-width: 500px;
  margin-left: 35px;
  margin-right: 35px;
}
